{% extends "generator/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script>
    var SCALE = 5;
    var LINEWIDTH = SCALE*0.05;
    var INACTIVECOLOR = '#555555';

    function Room (x, y, width, height) {
      this.x = x*SCALE;
      this.y = y*SCALE;
      this.width = width*SCALE;
      this.height = height*SCALE;
      this.status = 'explored';
      this.color = INACTIVECOLOR;
      this.contains = function (x, y) {
        return this.x <= x && x <= this.x + this.width &&
               this.y <= y && y <= this.y + this.height;
      };
      this.draw = function (ctx) {
        ctx.fillStyle = this.color;
        ctx.fillRect(this.x, this.y, this.width, this.height);
      };
    };
    function Corridor (path) {
      this.color = INACTIVECOLOR;
      this.rects = [];
      for (var i = 0; i < path.length-1; i++){
        var x = path[i].x*SCALE;
        var y = path[i].y*SCALE;
        var nextX = path[i+1].x*SCALE;
        var nextY = path[i+1].y*SCALE;
        var width = nextX-x || SCALE;
        var height = nextY-y || SCALE;
        var rect = {
          x: x,
          y: y,
          width: width,
          height: height
        };
        this.rects.push(rect);
      }
      this.contains = function (x, y) {
        for (var i = 0; i < this.rects.length; i++) {
          var rect = this.rects[i];
          if (rect.x <= x && x <= rect.x + rect.width &&
              rect.y <= y && y <= rect.y + rect.height) {
            return true;
          }
        }
        return false;
      };
      this.draw = function (ctx) {
        ctx.fillStyle = this.color;
        for (var i = 0; i < this.rects.length; i++) {
          var rect = this.rects[i];
          ctx.fillRect(rect.x, rect.y, rect.width, rect.height);
        }
      };
    };
    function Door (x, y, side, status) {
      this.x = x*SCALE;
      this.y = y*SCALE;
      this.side = side;
      this.status = status;
      this.size = SCALE/2;
      this.color = INACTIVECOLOR;
      this.outlineColor = 'black';
      this.draw = function(ctx) {
        ctx.lineWidth=LINEWIDTH;
        if (this.status == 'open') {
          ctx.fillStyle = this.color;
          ctx.strokeStyle = this.outlineColor
        } else {
          ctx.fillStyle = this.outlineColor;
          ctx.strokeStyle = this.color;
        }
        var offset = this.size/2;
        if (this.side == 'north'|| this.side == 'south'){
          ctx.fillRect(this.x+offset, this.y-offset, this.size, this.size);
          ctx.strokeRect(this.x+offset, this.y-offset, this.size, this.size);
        } else {
          ctx.fillRect(this.x-offset, this.y+offset, this.size, this.size);
          ctx.strokeRect(this.x-offset, this.y+offset, this.size, this.size);
        }
      };
    };

    var rooms = [
      new Room(1, 1, 5, 5),
      new Room(7, 8, 3, 3)
    ];
    var corridors = [
      new Corridor([
        { x : 6, y : 1 },
        { x : 8, y : 1 },
        { x : 8, y : 8 }
      ])
    ];
    var doors = [
      new Door(6, 1, 'east', 'open'),
      new Door(8, 8, 'north', 'open'),
      new Door(10, 10, 'east', 'closed')
    ];
    
    var dungeonMapper = {
      canvas : document.getElementById("canvas"),
      transforms : {
        scaleFactor : 5.00,
        panX : 0,
        panY : 0
      },
      start: function () {
        this.context = this.canvas.getContext("2d");
        this.canvas.addEventListener('mousemove', this.handleMouseMove.bind(this), false);
        this.draw();
      },
      clear: function () {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
        this.context.fillRect(0, 0, this.canvas.width, this.canvas.height);
      },
      handleMouseMove: function (e) {
        this.mousePos = this.getMousePos(e, this.canvas);
        for (var i = 0; i < this.rooms.length; i++){
          var room = this.rooms[i];
          if (room.contains(this.mousePos.x, this.mousePos.y)) {
            room.color = 'white';
          } else {
            room.color = INACTIVECOLOR;
          }
        }
        for (var i = 0; i < this.corridors.length; i++){
          var corridor = this.corridors[i];
          if (corridor.contains(this.mousePos.x, this.mousePos.y)) {
            corridor.color = 'white';
          } else {
            corridor.color = INACTIVECOLOR;
          }
        }
        this.draw();
      },
      getMousePos: function (e, canvas) {
        var rect = canvas.getBoundingClientRect();
        var rawX = e.clientX - rect.left;
        var rawY = e.clientY - rect.top;
        return {
          x: rawX/this.transforms.scaleFactor,
          y: rawY/this.transforms.scaleFactor
        };
      },
      drawGrid: function () {
        var ctx = this.context;
        for (var i = SCALE; i < this.canvas.width; i+=SCALE) {
          ctx.beginPath();
          ctx.moveTo(i, 0);
          ctx.lineTo(i, this.canvas.height);
          ctx.lineWidth=LINEWIDTH;
          ctx.strokeStyle = 'black';
          ctx.stroke();
        }
        for (var i = SCALE; i < this.canvas.height; i+=SCALE) {
          ctx.beginPath();
          ctx.moveTo(0, i);
          ctx.lineTo(this.canvas.width, i);
          ctx.lineWidth=LINEWIDTH;
          ctx.strokeStyle = 'black';
          ctx.stroke();
        }
      },
      draw: function () {
        var ctx = this.context;
        this.clear();
        ctx.save();
        ctx.scale(this.transforms.scaleFactor,this.transforms.scaleFactor);
        ctx.translate(0,0); //translate makes more sense after scale()
        for (var i = 0; i < this.rooms.length; i++) {
          this.rooms[i].draw(ctx);
        }
        for (var i = 0; i < this.corridors.length; i++) {
          this.corridors[i].draw(ctx);
        }
        this.drawGrid();
        for (var i = 0; i < this.doors.length; i++) {
          this.doors[i].draw(ctx);
        }
        ctx.restore();
      }
    };

    dungeonMapper.rooms = rooms;
    dungeonMapper.corridors = corridors;
    dungeonMapper.doors = doors;
    dungeonMapper.start();
  </script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
  	<div class="col-md-12 text-center">
  		<h1>Canvas Test</h1>
  		<div>- Generate Infinite Content -</div>
  	</div>
    <div class="col-md-12">
      <canvas id="canvas" width="500" height="500" style="border:1px solid #000000;">
      </canvas>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% endblock %}