{% extends "generator/base.html" %}
{% load static %}

{% block javascript %}

<script>
$(function() {
  //TODO: use of ajaxSetup() is not recommended
  $.ajaxSetup({
    headers: { "X-CSRFToken": helpers.getCookie("csrftoken") }
  });
  requests.loadGame({{ game_id }}, function (data) {
    game.load(data);
  });
  helpers.setEventHandlers();
});

</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
  	<div class="col-md-12 text-center">
      <input id="name-input" type="text" placeholder="(campaign name)"></input>
  	</div>

    <div class="col-md-12">
      <div class="mapper-ui">

      <canvas id="canvas" width="600" height="500">
      </canvas>

      <form id="component-form">
        <div class="component-header">
          <button id="component-delete">&#10006;</button>
          <input id="component-name" type="text" placeholder="(not named)"></input>
          <select id="component-category">
            {% for category, display in categories %}
            <option value="{{ category }}">{{ display }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="detail-display">
          <textarea></textarea>
        </div>
        <div class="component-footer">
          <button id="detail-new">Add New Detail</button>
        </div>
      </form>
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4 scrambler-ui">

      <form class="form-inline" role="form" id="scrambler" class="text-center" method="post">
        {% csrf_token %}
        <label for="endpoint-select">Select Content to Generate:</label>
        <select class="form-control" id="endpoint-select">
          <!-- populated by javascript -->
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div id="endpoint-data" hidden="true">
          <!-- populated by javascript -->
        </div>
      </form>
      <div class="form-group">
        <textarea class="form-control" rows="10" id="scrambler-content"></textarea>
      </div>

      <form class="form-inline" role="form" id="sync" class="text-center" method="post" action="/api/sync/">
        {% csrf_token %}
          <label for="inputSheetURL">Google Sheet URL:</label>
          <input class="form-control" type="url" id="inputSheetURL" name="sheet-url">
          <input hidden="true" type="number" id="inputSheetGameID" name="game-id">
          <button type="submit" class="btn btn-primary">Sync</button>
      </form>

    </div>

  </div> <!-- row -->
</div> <!-- container -->

<script src="{% static "generator/js/helpers.js" %}"></script>
<script src="{% static "generator/js/requests.js" %}"></script>
<script src="{% static "generator/js/mapper.js" %}"></script>
<script src="{% static "generator/js/game.js" %}"></script>
{% endblock %}