{% extends "generator/base.html" %}
{% load staticfiles %}

{% block javascript %}

  <script>
    $("form").submit(function (e) {
    	e.preventDefault();
      var key = $("option:selected").val();
      var text = $("[name='" + key + "']").text();
      $.ajax({
        url: 'api/generate/',
        data: {
          'text': text
        },
        dataType: 'json',
        success: function (data) {
          $("#content").html(data.detail);
        }
      });
    });
  </script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
  	<div class="col-md-12 text-center">
  		<h1>Infinite Archipelago</h1>
  		<div>- Generate Infinite Content -</div>
      <div><a href="/deletecreds">Delete Credentials</a></div>
      <div><a href="/sync">Sync Google Sheet Data</a></div>
  	</div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
			<form class="text-center" method="post">
			{% csrf_token %}
        <select>
          {% for key, val in endpoints.items %}
          <option>{{key}}</option>
          {% endfor %}
        </select>
  			<button type="submit" class="btn btn-default">Generate</button>
        <div>
          {% for key, val in endpoints.items %}
          <div name="{{key}}" hidden="true">{{val}}</div>
          {% endfor %}
        </div>
			</form>
      <div id="content" style="white-space:pre-line;"></div>
    </div>

    <div class="col-md-4"></div>

  </div> <!-- row -->
</div> <!-- container -->

{% endblock %}