{% extends "generator/base.html" %}
{% load staticfiles %}
{% load static %}

{% block javascript %}
<script>

$(function() {
  $.ajaxSetup({
    headers: { "X-CSRFToken": getCookie("csrftoken") }
  });
  requests.loadGame(function (data) {
    var components = data.game.components.map(function(c) {
      return new Component(c);
    });
    seaMapper.components = components;
    seaMapper.gameID = data.game.id;
    seaMapper.start();
  });
});

</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
  	<div class="col-md-12 text-center">
  		<h1>Canvas Test</h1>
  		<div>- Generate Infinite Content -</div>
  	</div>
    <div class="col-md-12">
      <canvas id="canvas" width="500" height="500" style="border:1px solid #000000;">
      </canvas>
      <form id="component-form">
        <button id="component-delete">x</button>
        <input id="component-name" type="text" placeholder="(not named)"></input>
        <select id="component-category">
          {% for category, display in categories %}
          <option value="{{ category }}">{{ display }}</option>
          {% endfor %}
        </select>
        <div id="detail-display">
          <textarea>Blah</textarea>
        </div>
        <button id="detail-new">New</button>
      </form>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

<script src="{% static "generator/scripts/mapper.js" %}"></script>
{% endblock %}