{% extends "generator/base.html" %}
{% load static %}

{% block javascript %}

<script>
$(function() {
  //TODO: use of ajaxSetup() is not recommended
  $.ajaxSetup({
    headers: { "X-CSRFToken": helpers.getCookie("csrftoken") }
  });
  requests.loadGame({{ game_id }}, function (data) {
    game.load(data);
  });
  helpers.setEventHandlers();
});

</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <form class="form" role="form" method="post" action="signup/" accept-charset="UTF-8" id="signup-form">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Create Account</button>
      </form>
    </div>

    <div class="col-md-12 text-center">
      <h1 id="name-input">[project-name]</h1>
    </div>

    <div class="col-md-12">
      <div class="mapper-ui">

      <canvas id="canvas" width="600" height="500">
      </canvas>

        <form id="component-form">
          <div class="component-header">
            <button id="component-delete">&#10006;</button>
            <input id="component-name" type="text" placeholder="(not named)"></input>
            <select id="component-category">
              {% for category, display in categories %}
              <option value="{{ category }}">{{ display }}</option>
              {% endfor %}
            </select>
          </div>
          <div id="detail-display">
            <textarea></textarea>
          </div>
          <div class="component-footer">
            <button id="detail-new">Add New Detail</button>
          </div>

          <div class="component-none">No Element Selected</div>
        </form>
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4 scrambler-ui">
      <form class="form-inline" role="form" id="scrambler" class="text-center" method="post">
        {% csrf_token %}
        <label for="endpoint-select">Select Content to Generate:</label>
        <select class="form-control" id="endpoint-select">
          <!-- populated by javascript -->
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div id="endpoint-data" hidden="true">
          <!-- populated by javascript -->
        </div>
      </form>
      <div class="form-group">
        <textarea class="form-control" rows="10" id="scrambler-content"></textarea>
      </div>
    </div>


    <div class="col-md-12 text-center">
      <img src="{% static "generator/img/ruins.png" %}" alt="Ruins"/>
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<script src="{% static "generator/js/helpers.js" %}"></script>
<script src="{% static "generator/js/requests.js" %}"></script>
<script src="{% static "generator/js/mapper.js" %}"></script>
<script src="{% static "generator/js/game.js" %}"></script>
{% endblock %}