.navbar-inverse {
	background-color: #111;
}

input#name-input {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border: none;
	outline: none;
}

.scrambler-ui {
	margin-top: 6px;
	margin-bottom: 50px;
}

#endpoint-select {
	width: 75%;
	margin-right: -4px;
	border-radius: 2px 0 0 2px;
}

#scrambler button {
	background-color: #111;
	width: 25%;
	border-radius: 0 2px 2px 0;
}

#scrambler-content {
	border: none;
	outline: none;
	box-shadow: none;
}


#inputSheetURL {
	width: 75%;
	margin-right: -4px;
	border-radius: 2px 0 0 2px;
	text-overflow: ellipsis;
}

#sync button {
	background-color: #111;
	width: 25%;
	border-radius: 0 2px 2px 0;
}
